{%  extends 'base.html'%}
{% load static %}
{% block title%}Категории{% endblock %}



{% block content %}
{% for product in products %}
 <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large" src="{{ product.image.url }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3><a href="{% url 'product-detail' product.id %}">{{ product.title }}</a></h3>
                        <div class="product__details__price">{{ product.price }} сом</div>
                        <p>{{ product.description }}</p>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" value="1">
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'cart_add' product.id %}" class="primary-btn">Добавить в корзину</a>
                    </div>
                </div>
            </div>
        </div>>
    </section>

{% endfor %}

{% if is_paginated %}
    <div style="text-align: center;" class="product__pagination">
        {% if page_obj.has_previous %}
          <a href="{% url 'products-list' %}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        {% endif %}
        <a href="">{{ page_obj.number }}</a>
        {% if page_obj.has_next %}
          <a href="{% url 'products-list' %}?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        {% endif %}
    </div>
{% endif %}


{% endblock %}
